body {
  /* disable zooming */
  /*touch-action: pan-x pan-y;*/
}

#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
}

.card {
  /*padding: 2em;*/
}

.hover\:bg-muted\/50:hover {
    background-color: unset !important;
}

.cal-due {
    border: none !important;
    color: white !important;
}

.cal-statement {
    border: 2px solid green;
    background: none !important;
}

.cal-statement.bg-accent {
    background-color: hsl(var(--accent)) !important;
}

.card-balance-container:first-child .balance-separator {
  margin-top: 0;
}

/* TransactionRow */

.containers {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}

.left > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left {
    display: flex;
    flex-direction: column;
    flex-shrink: 5;
    gap: 0.5rem 1rem;
    min-width: 0;
    white-space: nowrap;
}

.right {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
    justify-content: space-between;
}

@media only screen and (min-width: 900px) {
    .left {
        flex-direction: row;
        align-items: center;
    }
    .right {
        flex-direction: row-reverse;
        align-items: center;
    }
}

.price {
    text-align: end;
}
