body {
  /* disable zooming */
  /*touch-action: pan-x pan-y;*/
}

#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
}

.card {
  /*padding: 2em;*/
}

.hover\:bg-muted\/50:hover {
    background-color: unset !important;
}

.cal-due {
    border: none !important;
    color: white !important;
}

.cal-statement {
    border: 2px solid green;
    background: none !important;
}

.cal-statement.bg-accent {
    background-color: hsl(var(--accent)) !important;
}

.card-balance-container:first-child .balance-separator {
  margin-top: 0;
}

/* TransactionRow */

.containers {
    /*width: 90%;*/
    width: 300px;
    /*width: 50%;*/
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    min-width: 0;
}

.left > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-right: 16px;
    margin-bottom: 8px;

    display: block;
    height: 18px;
    line-height: 16px;
}

.left {
    flex-shrink: 5;
    min-width: 0;
}

.right {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

@media only screen and (min-width: 600px) {
    .left > .date {
        float: left;
    }
}

.price {
    text-align: end;
}
