@import "@fontsource/redacted-script";

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

/* custom css */

body {
  /* disable zooming */
  touch-action: pan-x pan-y;
}

.hover\:bg-muted\/50:hover {
  background-color: unset !important;
}

.cal-due {
  border: none !important;
  color: white !important;
}

.cal-statement {
  border: 3px solid transparent;
}

.cal-statement.bg-accent {
  background-color: hsl(var(--accent)) !important;
  font-weight: bold;
}

.card-balance-container:first-child .balance-separator {
  margin-top: 0;
}

/* TransactionRow */

.containers {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}

.left > div, .left-nowrap > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  gap: 0.5rem 1rem;
  min-width: 0;
  white-space: nowrap;
}

.left-nowrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 5;
  gap: 0.5rem 1rem;
  min-width: 0;
  white-space: nowrap;
}

.right {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
}

.price {
  text-align: end;
  margin-left: 0.5rem;
}

.date {
  width: 8.25rem;
  flex-shrink: 0;
}

main.grid {
  grid-template-columns: minmax(0, 1fr);
}

.tx-row-border:not(:last-child) {
  box-shadow: 0 -1px 0 hsl(var(--border)) inset;
}

@media only screen and (min-width: 900px) {
  .left {
    flex-direction: row;
    align-items: center;
  }
  .left > .date {
    text-align: right;
  }
  .right {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.not-mobile-flex {
  display: flex;
}

.mobile, .mobile-flex {
  display: none;
}

@media only screen and (max-width: 750px) { /* keep in sync with ResponsiveStateProvider isMobile */
  .not-mobile-flex {
    display: unset;
  }
  .mobile {
    display: block;
  }
  .mobile-flex {
    display: flex;
  }
  .not-mobile {
    display: none;
  }
}

.redacted:not(:hover) {
  font-family: "Redacted Script";
}

.card:has(.card-needs-content:empty) {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}